<%= image_tag "https://i.imgur.com/clutGnG.gif", class: "background position_top-left image__stretched" %>

<div>
  <%= image_tag("https://imgur.com/KCMDK5V.gif", alt: "hello", class: "image__centered image__centered--medium") %>
</div>
