<footer class="footer">
  <div class="container--centered">
        <span>
          <%= link_to image_tag("https://imgur.com/QEROr4j.png", class: "image--small"), root_path %>
        <span>
        </span>
          <%= link_to image_tag("https://imgur.com/BxJ8F0d.png", class: "image--small"), root_path %>
        </span>
  </div>
</footer>
