<footer class="footer foreground-middle">
  <div class="container--centered">
    <%= link_to fa_stacked_icon("twitter", base: "square-o", class: "fa-2x image__footer"), "https://twitter.com/gislethor", :target => "_blank" %>
    <%= link_to fa_stacked_icon("github", base: "square-o", class: "fa-2x image__footer"), "https://github.com/GisTho", :target => "_blank" %>
    <%= link_to fa_stacked_icon("linkedin", base: "square-o", class: "fa-2x image__footer"), "https://www.linkedin.com/in/gisle-thorsen-289780112/?locale=en_US", :target => "_blank" %>
    <%= link_to fa_stacked_icon("at", base: "square-o", class: "fa-2x image__footer"), "mailto:gisle@gislethorsen.com", :target => "_blank" %>
  </div>
</footer>
