<footer class="footer foreground-middle">
  <div class="container--centered">
    <!-- Discord -->
    <a class="fa-footer fa-2x image__footer image__footer-margin--large"
      href="https://discord.gg/cCMuVPr"
      target="_blank">
      <i class="fab fa-discord"></i>
    </a>

    <!-- Github -->
    <a class="fa-footer fa-2x image__footer image__footer-margin--large"
      href="https://github.com/GisTho"
      target="_blank">
      <i class="fab fa-github"></i>
    </a>

    <!-- LinkedIn -->
    <a class="fa-footer fa-2x image__footer image__footer-margin--large"
      href="https://www.linkedin.com/in/gisle-thorsen-289780112/?locale=en_US"
      target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>

    <!-- Email -->
    <a class="fa-footer fa-2x image__footer image__footer-margin--large"
      href="mailto:gisle@gislethorsen.com"
      target="_blank">
      <i class="fab fa-telegram-plane"></i>
    </a>
  </div>
</footer>
