// Variables

$primary_header: #f6ca7c;
$hover: #d08462;
$active: #d08462;
$shadow: #2b292f;
$jumbotron: rgba(24, 17, 29, 0.9);
$primary_data: #ddccb1;
$input_bg: #3f3c44;
$input_bg_highlight: #5D5964;
$input_font_placeholder: #7D7984;


$inline-code: #c0b095;
$multiline-code: #a99c87;
