.background {
  z-index: -1;
}

.background-middle {
  z-index: -3;
}

.background-deep {
  z-index: -5;
}

.page__title {
  text-align: center;
  font-size: 40px;
  padding: 30px;

  @media only screen and (max-width: 600px) {
      font-size: 30px;
  }
}

body {
  margin-bottom: 80px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px; /* Set the fixed height of the footer here */
}
