@import 'variables.scss';

.container--centered {
  flex-shrink: 0;
  flex: 1 0 auto;
  text-align: center;
}

.container-img-top {
  width: 100%;
  height: 25vw;
  object-fit: fill;
  border-bottom: 3px solid $shadow;

  @media only screen and (max-width: 960px) {
    height: 25vw;
  }
}

.container__box {
  border-radius: 12px;
  padding: 20px;
  margin-top: 2%;
	margin-left: 15%;
	margin-right: 15%;
  text-align: center;

  @media only screen and (max-width: 960px) {
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.container__box--no-padding {
  padding: 0px;
}

.container__box-small {
  margin-left: 25%;
  margin-right: 25%;

  @media only screen and (max-width: 1280px) {
    margin-left: 20%;
    margin-right: 20%;

    @media only screen and (max-width: 960px) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

.container__box-extra-small {
  margin-left: 33%;
  margin-right: 33%;

  @media only screen and (max-width: 1280px) {
    margin-left: 25%;
    margin-right: 25%;

    @media only screen and (max-width: 960px) {
      margin-left: 8%;
      margin-right: 8%;
    }
  }
}

.container__box-background {
  background-color: $jumbotron;
}

.container__box-borders {
  border-top: 5px solid $shadow;
  border-bottom: 5px solid $shadow;
}

.container__box-borders-full {
  border: 5px solid $shadow;
}

.container__div--centered {
  margin: 0 auto;
  width: 60%;
}
