@import 'variables.scss';

.font__color-default {
  color: $primary;
  text-shadow: 3px 3px $shadow;
}

.font__navbar-item {
  font-family: "MoonBold";
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;

  &:hover {
    text-decoration: none;
    color: $hover;
  }

  &:active {
    color: $active;
  }

  &:focus {
    outline: 0;
  }
}

.font__navbar-main-item {
  font-size: 35px;
  vertical-align: -45px;
}

.font__navbar-item-underline {
  border-bottom: 3px solid;
}
