@import 'variables.scss';

.font__color-default-header {
  color: $primary_header;
}

.font__color-default-data {
  color: $primary_data;
}

.font__shadow-default {
  text-shadow: 3px 3px $shadow;
}

.font__shadow-small {
  text-shadow: 1px 1px $shadow;
}

.font__navbar-item {
  font-family: "MoonBold";
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;

  &:hover {
    text-decoration: none;
    color: $hover;
  }

  &:active {
    color: $active;
  }

  &:focus {
    outline: 0;
  }
}

.font--overflow-centered {
  margin-left: -50%;
  margin-right: -50%;
  text-align: center;
  white-space: nowrap;
}

.font__navbar-main-item {
  font-size: 35px;
  vertical-align: -45px;
}

.font__navbar-item-underline {
  border-bottom: 3px solid;
}

.font__header {
  font-family: "MoonLight";
}

.font__header2 {
  font-family: "ModernSansLight";
}

.font__header--large {
  font-size: 30px;
  @media only screen and (max-width: 600px) {
    font-size: 25px;
  }
}

.font__header--medium {
  font-size: 25px;
  @media only screen and (max-width: 600px) {
    font-size: 20px;
  }
}

.font__header--small {
  font-size: 20px;

  @media only screen and (max-width: 600px) {
    font-size: 15px;
  }
}

.font__data {
  font-family: "ModernSansLight";
  font-size: 18px;

  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.font__data--small {
  font-size: 16px;

  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.font__data-justified {
  text-align: justify;
}

.font__caption {
  font-size: 20px;
  text-shadow: 0 0 3px $shadow, 2px 2px 5px $shadow;
  background-color: #262626b9;
}

.font--padding {
  padding: 15px;
}

.font--padding-bottom {
  padding-bottom: 15px;
}
