@font-face {
  font-family: "MoonBold";
  src: font-url('Moon_Bold');
}

@font-face {
  font-family: "MoonLight";
  src: font-url('Moon_Light');
}

@font-face {
  font-family: "ModernSansLight";
  src: font-url('Modern_Sans_Light');
}
